<div class="preloader-area">
    <div class="spinner">
      <div class="inner">
        <div class="disc"></div>
        <div class="disc"></div>
        <div class="disc"></div>
      </div>
    </div>
  </div>
  <div class="top-header-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="header-left-content">
            <p><span style="display: inline-block"><a href="mailto: Independentstudyabroad@gmail.com" class="text-white"><i class="fa fa-envelope"></i>Independentstudyabroad@gmail.com</a></span><span ><a href="tel: 96928 19930" class="text-white"><i class="fa fa-phone ml-4" style="display: inline-block"></i>+91 96928 19930</a></span></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header-right-content">
            <div class="list">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-area nav-bg-1">
    <div class="mobile-responsive-nav">
      <div class="container">
        <div class="mobile-responsive-menu">
          <div class="logo">
            <a href="/">
              <img src="assets/images/logo/logo1.png" class="main-logo" lt="logo" />
              <img
                src="assets/images/logo1.png"
                class="white-logo"
                alt="logo"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="/" >
            <!-- <h3 class="text-white">COLLEGE</h3> -->
            <img src="assets/images/logo/logo1.png" alt="logo" style="max-width: 280px;" />
          </a>
          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="/" class="nav-link active"> Home </a>
              </li>
              <li class="nav-item">
                <a routerLink="about" class="nav-link"> About </a>
              </li>
             
              <!-- <li class="nav-item">
                <a href="#" class="nav-link"> University </a>
              </li> -->
              <li class="nav-item">
                <a href="#" class="nav-link dropdown-toggle"> Countries </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a routerLink="/mbbs-in-russia" class="nav-link">Russia</a>
                  </li>
                  <li class="nav-item">
                    <a routerLink="/mbbs-in-georgia" class="nav-link"
                      >Georgia</a
                    >
                  </li>
                  <li class="nav-item">
                    <a routerLink="/mbbs-in-uzbekistan" class="nav-link"
                      >Uzbekistan</a
                    >
                  </li>
                  <li class="nav-item">
                    <a routerLink="/mbbs-in-kyrgyzstan" class="nav-link"
                      >Kyrgyzstan</a
                    >
                  </li>
                  <li class="nav-item">
                    <a routerLink="/mbbs-in-kazakhstan" class="nav-link"
                      >Kazakhstan</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a routerLink="contact" class="nav-link">Contact Us</a>
              </li>
            </ul>
            <div class="others-options">
              <div class="icon">
                <i
                  class="ri-menu-3-fill"
                  data-bs-toggle="modal"
                  data-bs-target="#sidebarModal"
                ></i>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="others-option-for-responsive">
      <div class="container">
        <div class="dot-menu">
          <div class="inner">
            <div class="icon">
              <i
                class="ri-menu-3-fill"
                data-bs-toggle="modal"
                data-bs-target="#sidebarModal"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div
    class="sidebarModal modal right fade"
    id="sidebarModal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-bs-dismiss="modal">
          <i class="ri-close-line"></i>
        </button>
        <div class="modal-body">
          <a href="/">
            <img src="assets/images/logo/logo.png" class="logo" alt="logo" />
            <img
              src="assets/images/white-logo.png"
              class="white-logo"
              alt="logo"
            />
          </a>
          <div class="sidebar-content">
            <h3>About Us</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="sidebar-btn">
              <a href="contact.html" class="default-btn">Let’s Talk</a>
            </div>
          </div>
          <div class="sidebar-contact-info">
            <h3>Contact Information</h3>
            <ul class="info-list">
              <li>
                <i class="ri-phone-fill"></i>
                <a href="tel:9901234567">+990-123-4567</a>
              </li>
              <li>
                <i class="ri-mail-line"></i
                ><a
                  href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#c1a9a4adadae81b2a0afb4efa2aeac"
                  ><span
                    class="__cf_email__"
                    data-cfemail="a5cdc0c9c9cae5d6c4cbd08bc6cac8"
                    >[email&#160;protected]</span
                  ></a
                >
              </li>
              <li>
                <i class="ri-map-pin-line"></i> 413 North Las Vegas, NV 89032
              </li>
            </ul>
          </div>
          <ul class="sidebar-social-list">
            <li>
              <a href="https://www.facebook.com/" target="_blank"
                ><i class="flaticon-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.twitter.com/" target="_blank"
                ><i class="flaticon-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://linkedin.com/?lang=en" target="_blank"
                ><i class="flaticon-linkedin"></i
              ></a>
            </li>
            <li>
              <a href="https://instagram.com/?lang=en" target="_blank"
                ><i class="flaticon-instagram"></i
              ></a>
            </li>
          </ul>
          <div class="contact-form">
            <h3>Ready to Get Started?</h3>
            <form id="contactForm">
              <div class="row">
                <div class="col-lg-12 col-md-6">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      required
                      data-error="Please enter your name"
                      placeholder="Your name"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-6">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      required
                      data-error="Please enter your email"
                      placeholder="Your email address"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      name="phone_number"
                      class="form-control"
                      required
                      data-error="Please enter your phone number"
                      placeholder="Your phone number"
                    />
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <textarea
                      name="message"
                      class="form-control"
                      cols="30"
                      rows="6"
                      required
                      data-error="Please enter your message"
                      placeholder="Write your message..."
                    ></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <button type="submit" class="default-btn">
                    Send Message<span></span>
                  </button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
