<div class="footer-area pt-100 pb-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="footer-logo-area">
          <a href="#">
            <img src="assets/images/logo/logo.png" class="logo" />
          </a>
          <p>
            At Independent Study Abroad, we make that dream a reality for
            students who aspire to pursue MBBS education abroad.
          </p>
          <div class="contact-list">
            <ul>
              <li><i class="fa fa-phone text-white mr-2"></i><a href="tel:9692819930">+91 96928 19930</a>, <a href="tel:96928 19930">+91 8895577336 </a></li>
              <li>
                <i class="fa fa-envelope text-white mr-2"></i>
                <a
                  href="mailto: Independentstudyabroad@gmail.com"
                  ><span
                    class=""
                    >Independentstudyabroad@gmail.com</span
                  ></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widjet">
          <h3>Courses</h3>
          <div class="list">
            <ul>
              <li><a href="#">Medical</a></li>
              <li><a href="#">Engineering</a></li>
              <li><a href="#">Law</a></li>
              <li><a href="#">Hotel Management</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widjet">
          <h3>Countries</h3>
          <div class="list">
            <ul>
              <li><a routerLink="/mbbs-in-russia">Russia</a></li>
              <li><a routerLink="/mbbs-in-georgia">Georgia</a></li>
              <li><a routerLink="/mbbs-in-uzbekistan">Uzbekistan</a></li>
              <li><a routerLink="/mbbs-in-kyrgyzstan">Kyrgyzstan</a></li>
              <li><a routerLink="/mbbs-in-kazakhstan">Kazakhstan</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="footer-widjet">
          <h3>Useful Links</h3>
          <div class="list">
            <ul>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
              <li><a routerLink="/apply">Apply Now</a></li>
              <li><a routerLink="/terms">Term & Conditions</a></li>
              <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="shape">
      <img src="assets/images/shape-1.png" alt="Image" />
    </div>
  </div>
</div>

<div class="copyright-area">
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-lg-6 col-md-4">
          <div class="social-content">
            <ul>
              <li><span>Follow Us On</span></li>
              <li>
                <a href="https://www.facebook.com/" target="_blank"
                  ><i class="ri-facebook-fill"></i
                ></a>
              </li>
              <li>
                <a href="https://www.twitter.com/" target="_blank"
                  ><i class="ri-twitter-fill"></i
                ></a>
              </li>
              <li>
                <a href="https://instagram.com/?lang=en" target="_blank"
                  ><i class="ri-instagram-line"></i
                ></a>
              </li>
              <li>
                <a href="https://linkedin.com/?lang=en" target="_blank"
                  ><i class="ri-linkedin-fill"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-8">
          <div class="copy">
            <p>
              2023 © Developed by
              <a href="@" target="_blank">The Technovate</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="go-top">
  <i class="ri-arrow-up-s-line"></i>
  <i class="ri-arrow-up-s-line"></i>
</div>
