<!-- footer area start -->
<footer>
    <div class="tp-footer-area" data-bg-color="footer-bg-grey">
       <div class="tp-footer-top pt-40 pb-40">
          <div class="container">
             <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6">
                   <div class="tp-footer-widget footer-col-1 mb-50">
                      <div class="tp-footer-widget-content">
                         <div class="tp-footer-logo">
                            <a href="#">
                               <img src="assets/img/logo/homeseva-newlogo.png" alt="logo">
                            </a>
                         </div>
                         <p class="tp-footer-desc">We are a team of designers and developers that create high quality WordPress</p>
                         <div class="tp-footer-social">
                            <a href="https://www.facebook.com/profile.php?id=100076301418599" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://www.instagram.com/homesevaonline" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                   <div class="tp-footer-widget footer-col-2 mb-50">
                      <h4 class="tp-footer-widget-title">My Account</h4>
                      <div class="tp-footer-widget-content">
                         <ul>
                            <li><a href="#">Track Orders</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Returns</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                   <div class="tp-footer-widget footer-col-3 mb-50">
                      <h4 class="tp-footer-widget-title">Infomation</h4>
                      <div class="tp-footer-widget-content">
                         <ul>
                            <li><a href="#">Our Story</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">Contact Us</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                   <div class="tp-footer-widget footer-col-4 mb-50">
                      <h4 class="tp-footer-widget-title">Get in Touch</h4>
                      <div class="tp-footer-widget-content">
                         <div class="tp-footer-talk mb-20">
                            
                            <p><i class="fa fa-phone"></i> <a href="tel:+91 7205641803"> +91 7205641803</a> / <a href="tel:+91 7077641802"> +91 7077641802</a></p>
                         </div>
                         <div class="tp-footer-contact">
                            <div class="tp-footer-contact-item d-flex align-items-start">
                               
                               <div class="tp-footer-contact-content">
                                  <p><i class="fa fa-envelope"></i> <a href="mailto:shofy@support.com"> homeseva@gmail.com</a></p>
                               </div>
                            </div>
                            <div class="tp-footer-contact-item d-flex align-items-start">
                               <div class="tp-footer-contact-icon">
                                  <p><i class="fa fa-home"></i> Plot No 21, 2032, near Vishal Mega Mart, Nuasahi, Rasulgarh, Bhubaneswar, Odisha 751007</p>
                               </div>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="tp-footer-bottom pt-10 pb-10">
          <div class="container">
             <div class="tp-footer-bottom-wrapper">
                <div class="row align-items-center">
                   <div class="col-md-6">
                      <div class="tp-footer-copyright">
                         <p>© 2023 HomeSeva Online. All Rights Reserved</p>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="tp-footer-payment text-md-end">
                         <p>
                           Developed & Managed By <a href="https://thetechnovate.com" target="_blank">Technovate</a>
                         </p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
