.flag{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.courses-card img{width:100%}
/* .single-academics-card2.bg2 {
    background-image: url('/../images/college.jpg');
    height:300px;
}
.courses-card img{width:100%}
.pd1 ul li{padding-left:10px;}
.pd1 img{width:50px;}
h2.accordion-header{margin:0px!important;} */