<div class="courses-details-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="courses-details">
            <div class="courses-card">
              <h2>MBBS in Uzbekistan for Indian Students</h2>
              <div class="img">
                <img src="/assets/images/country/uzbekistan_img.jpg" alt="Image" />
              </div>
              <div class="learn">
                <p>
                  Uzbekistan has been popular destination for International
                  students for pursuing MBBS right from Soviet Era. Uzbekistan
                  boasts about occupying almost 30 positions amongst top 100
                  ranking Medical Universities according to the World Health
                  Organization (WHO)'s "Directory of World Medical Schools".
                  Pass-outs from Uzbekistann Medical Universities are
                  presently working in the leading Hospitals across the globe.
                  MBBS from Uzbekistan is a preferred choice for International
                  students because of the highly subsidized fee by the
                  Uzbekistann Ministry of Health & Education as compared to
                  other western countries. High Quality of Education combined
                  with this low cost is one of the main reasons for choosing
                  top medical universities of Uzbekistan for MBBS. There are
                  almost 57 medical universities in Uzbekistan. The student to
                  teacher ratio is 7:1 in all Uzbekistann Medical
                  Universities. About 12 of these universities provide MBBS in
                  English Medium.
                </p>
                <h3>Advantages of MBBS in Uzbekistan</h3>
                <div class="overview">
                  <div class="overview-box">
                    <h4>Globally recognized degrees</h4>
                    <h4>Feasible Cost for Education</h4>
                    <h4>Affordable Cost of Living</h4>
                    <h4>Layton Basic Logical Program</h4>
                  </div>
                </div>
                <h3>Eligibility Criteria</h3>
                <div class="overview">
                  <div class="overview-box">
                    <h4>
                      The student shall complete the age of 17 years on or
                      before 31st December of the year of admission
                    </h4>
                    <h4>
                      The candidate must secure 50% marks in their 12th
                      standard from Science stream (Physics, Chemistry and
                      Biology) in CBSE / ISC or any other Equivalent Board of
                      Examination
                    </h4>
                    <h4>
                      From 2018 onwards, qualifying NEET examination is
                      mandatory for studying MBBS abroad
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <!-- sidebar start -->
          <app-sidebar></app-sidebar>
          <!-- sidebar end -->
        </div>
      </div>
      <div class="academic-area pt-100 pb-70 bg-f4f6f9">
        <div class="container">
          <div class="section-title">
            <h2>Academics</h2>
          </div>
          <div class="row justify-content-center">
            <div
              class="col-lg-3 col-md-6 aos-init aos-animate"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="200"
              data-aos-once="true"
            >
              <div class="single-academics-card2 bg-1 bg2">
                <div class="academic-content">
                  <div class="academic-top-content">
                    <i class="flaticon-graduation"></i>
                    <a href="academics-details.html"
                      ><h3>Tashkent Medical Academy</h3></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 aos-init aos-animate"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="400"
              data-aos-once="true"
            >
              <div class="single-academics-card2 bg-2 bg2">
                <div class="academic-content">
                  <div class="academic-top-content">
                    <i class="flaticon-graduation"></i>
                    <a href="academics-details.html"
                      ><h3>Andijan State Medical Institute</h3></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-lg-3 col-md-6 aos-init aos-animate"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-delay="600"
              data-aos-once="true"
            >
              <div class="single-academics-card2 bg-3 bg2">
                <div class="academic-content">
                  <div class="academic-top-content">
                    <i class="flaticon-graduation"></i>
                    <a href="academics-details.html"
                      ><h3>Samarkand State Medical University</h3></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

