<div class="graduate-admission pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="how-to-apply">
            <h2>Detail About us</h2>
            <p>
                Studying medicine abroad can be a life-changing experience that opens up new horizons
                and opportunities for students. At Independent Study Abroad, we make that dream a reality
                for students who aspire to pursue MBBS education abroad.
            </p>
            <div class="apply-list">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Graduate Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Programs
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Alumni & Giving
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Undergraduate
                    </li>
                    <li>
                      <i class="ri-checkbox-circle-line"></i>Doctoral Degrees
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="submit">
              <!-- <h3>Submit Your Transcripts</h3> -->
              <p>
                Our comprehensive services include expert counseling, university selection, admission
assistance, document preparation, travel arrangements, accommodation solutions, and visa
assistance.
              </p>
              <p>
                We work closely with each of our students and their families. Right information and guidance
                are all that they need to make informed decisions and navigate the admissions process
                confidently. We&#39;re excited to join your journey toward a brighter future.
              </p>

              <p>
                The team of Independent Study Abroad works to empower students to
                fulfill their dreams of pursuing an MBBS education abroad. Our highly
                skilled education advisers and counselors are committed to assisting
                students in realizing their full potential via personalized guidance and
                assistance.
              </p>
              <p>
                Through world-class education- students will hone their knowledge and
                expertise in medical science. We strive to make the admissions process
                as simple and hassle-free as possible. Now that students can focus on
                what matters: their education and personal development!
              </p>
              <p>
                We provide comprehensive guidance to study MBBS abroad. Students get various services
  to achieve their academic and career goals. Our experienced team of education consultants,
  doctors, and counselors provides personalized guidance and support to students throughout
  the admission process.
              </p>
              <!-- <a href="#" class="default-btn btn"
                >Submit Your Transcripts<i class="flaticon-next"></i
              ></a> -->
            </div>
            <!-- <div class="financial">
              <h3>Financial Aid</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eius mod tem incid idunt ut labore et dol magna aliqua. Ut
                enim ad minim ven iam quis nostrud xerci tation Lorem ipsum
                dolor sit amet, conse ctetur adipiscing elit, sed do eius mod
                tem incid idunt ut
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eius mod tem incid idunt ut labore et dol magna aliqua. Ut
                enim ad minim ven iam quis nostrud xerci tation Lorem ipsum
              </p>
              <a href="#" class="default-btn btn"
                >Apply For Financial Aid<i class="flaticon-next"></i
              ></a>
            </div> -->
          </div>
        </div>
        <div class="col-lg-4">
            <div class="additional-information">
                <h3>Best country for MBBS</h3>
                <div class="list">
                  <ul>
                    <li><a routerLink="/mbbs-in-russia">MBBS IN RUSSIA</a></li>
                    <li><a routerLink="/mbbs-in-georgia">MBBS IN GEORGIA</a></li>
                    <li><a routerLink="/mbbs-in-uzbekistan">MBBS IN UZBEKISTAN</a></li>
                    <li><a routerLink="/mbbs-in-kyrgyzstan">MBBS IN KYRGYZSTAN</a></li>
                    <li><a routerLink="/mbbs-in-kazakhstan">MBBS IN KAZAKHSTAN</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
