<div class="estemate-form" style="margin: 0px">
  <h3>Request A Free Estimate</h3>
  <form>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Full Name"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Active Email"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Phone Number"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Subject"
          />
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <textarea
            class="form-control"
            rows="5"
            placeholder="Message"
          ></textarea>
        </div>
      </div>
      <div class="col-lg-12">
        <button type="submit" class="default-btn btn">
          Send Request<i class="flaticon-paper-plane"></i>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="related-download pd1">
  <h3>BEST COUNTRY FOR MBBS</h3>
  <ul>
    <li>
      <a routerLink="/mbbs-in-russia"
        ><img src="assets/images/flag/russia.png" class="flag"/> MBBS IN RUSSIA</a
      >
    </li>
    <li>
      <a routerLink="/mbbs-in-georgia"
        ><img src="assets/images/flag/georgia.png" class="flag"/> MBBS IN GEORGIA</a
      >
    </li>
    <li>
      <a routerLink="/mbbs-in-uzbekistan"
        ><img src="assets/images/flag/uzbegistan.jpg" class="flag"/> MBBS IN
        UZBEKISTAN</a
      >
    </li>
    <li>
      <a routerLink="/mbbs-in-kyrgyzstan"
        ><img src="assets/images/flag/kyrgyzstan.png" class="flag"/> MBBS IN
        KYRGYZSTAN</a
      >
    </li>
    <li>
      <a routerLink="/mbbs-in-kazakhstan"
        ><img src="assets/images/flag/kazakhstan.png" class="flag"/> MBBS IN
        KAZAKHSTAN</a
      >
    </li>
  </ul>
</div>
