<div class="banner-area pb-4">
  <div class="container-fluid">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slider-item banner-bg-1">
          <div class="slider-content">
            <h1>Achieve Your Dream</h1>
            <p>Pursue MBBS Education Abroad</p>
            <a href="#" class="default-btn btn"
              >Start a Journey <i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slider-item banner-bg-1">
          <div class="slider-content">
            <h1>Study Abroad</h1>
            <p>Unlock Global Opportunities with Independent Study Abroad</p>
            <a href="#" class="default-btn btn"
              >Start a Journey <i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </ng-template>
      <!-- <ng-template carouselSlide>
        <div class="slider-item banner-bg-1">
          <div class="slider-content">
            <h1>Explore Your Potential &amp; Talents In Sanu</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut elit
              tellus luctus nec ullamcorper mattis pulvinar dapibus dolor sit
              amet consec
            </p>
            <a href="#" class="default-btn btn"
              >Start a Journey <i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slider-item banner-bg-1">
          <div class="slider-content">
            <h1>Explore Your Potential &amp; Talents In Sanu</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Ut elit
              tellus luctus nec ullamcorper mattis pulvinar dapibus dolor sit
              amet consec
            </p>
            <a href="#" class="default-btn btn"
              >Start a Journey <i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </ng-template> -->
    </owl-carousel-o>
  </div>
</div>

<div class="academic-area pt-70 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Who We Are</h2>
      <p>
        The team of Independent Study Abroad works to empower students to
        fulfill their dreams of pursuing an MBBS education abroad. Our highly
        skilled education advisers and counselors are committed to assisting
        students in realizing their full potential via personalized guidance and
        assistance.
      </p>
      <p>
        Through world-class education- students will hone their knowledge and
        expertise in medical science. We strive to make the admissions process
        as simple and hassle-free as possible. Now that students can focus on
        what matters: their education and personal development!
      </p>
    </div>
    <h2 class="text-center mb-4">What We Offer</h2>
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-once="true"
      >
        <div class="single-academics-card">
          <div class="academic-top-content">
            <i class="flaticon-college-graduation"></i>
            <a href="academics-details.html"
              ><h3>Documentation Assistance</h3></a
            >
          </div>
          <p>
            Our team assists students in preparing all necessary documents for
            admission to their desired universities abroad.
          </p>
          <!-- <a href="academics-details.html" class="read-more-btn"
            >Undergraduate Education<i class="flaticon-next"></i
          ></a> -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="400"
        data-aos-once="true"
      >
        <div class="single-academics-card">
          <div class="academic-top-content">
            <i class="flaticon-graduation"></i>
            <a href="academics-details.html"><h3>Travel Arrangement</h3></a>
          </div>
          <p>
            We help students with travel arrangements, including flight bookings
            and visa assistance.
          </p>
          <!-- <a href="academics-details.html" class="read-more-btn"
            >Graduate Education<i class="flaticon-next"></i
          ></a> -->
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="600"
        data-aos-once="true"
      >
        <div class="single-academics-card">
          <div class="academic-top-content">
            <i class="flaticon-writing-tool"></i>
            <a href="academics-details.html"><h3>Accommodation</h3></a>
          </div>
          <p>
            We support finding suitable accommodation near their university,
            such as student housing or homestays.
          </p>
        </div>
      </div>
      <div
      class="col-lg-4 col-md-6"
      data-aos="fade-up"
      data-aos-duration="1200"
      data-aos-delay="600"
      data-aos-once="true"
    >
      <div class="single-academics-card">
        <div class="academic-top-content">
          <i class="flaticon-writing-tool"></i>
          <a href="academics-details.html"><h3>Counseling</h3></a>
        </div>
        <p>
          Our team of experienced counselors offers guidance and support to students throughout the
application and admission process and during their stay abroad.
        </p>
      </div>
    </div>
    <div
    class="col-lg-4 col-md-6"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="600"
    data-aos-once="true"
  >
    <div class="single-academics-card">
      <div class="academic-top-content">
        <i class="flaticon-writing-tool"></i>
        <a href="academics-details.html"><h3>Visa Assistance</h3></a>
      </div>
      <p>
        We provide visa assistance to all students who enroll through us, taking the stress out of the
visa application process.
      </p>
    </div>
  </div>
  <div
  class="col-lg-4 col-md-6"
  data-aos="fade-up"
  data-aos-duration="1200"
  data-aos-delay="600"
  data-aos-once="true"
>
  <div class="single-academics-card">
    <div class="academic-top-content">
      <i class="flaticon-writing-tool"></i>
      <a href="academics-details.html"><h3>Admission</h3></a>
    </div>
    <p>
      We assist students in navigating the admissions process by submitting applications, tracking
status, and contacting institutions on their behalf.
    </p>
  </div>
</div>
    </div>
  </div>
</div>

<div class="campus-information-area pb-70">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-lg-6"
        data-aos="fade-right"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1300"
        data-aos-once="true"
      >
        <div class="campus-content pr-20">
          <div class="campus-title">
            <h2>Why Choose Us?</h2>
            <p>
              We provide comprehensive guidance to study MBBS abroad. Students get various services
to achieve their academic and career goals. Our experienced team of education consultants,
doctors, and counselors provides personalized guidance and support to students throughout
the admission process.
            </p>
          </div>
          <div class="list">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Graduate Programs</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Programs</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Doctoral Degrees</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Alumni & Giving</p>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Undergraduate</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>International Hubs</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Doctoral Degrees</p>
                  </li>
                  <li>
                    <i class="ri-check-fill"></i>
                    <p>Global Students</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="counter">
            <div class="row">
              <div class="col-lg-4 col-4">
                <div class="counter-card">
                  <h1>
                    <span class="odometer" data-count="65">50</span>
                    <span class="target">+</span>
                  </h1>
                  <p>Universities</p>
                </div>
              </div>
              <div class="col-lg-4 col-4">
                <div class="counter-card">
                  <h1>
                    <span class="odometer" data-count="30">2</span>
                    <span class="target heading-color">k</span
                    ><span class="target">+</span>
                  </h1>
                  <p>Doctors</p>
                </div>
              </div>
              <div class="col-lg-4 col-4">
                <div class="counter-card">
                  <h1>
                    <span class="odometer" data-count="52">4</span>
                    <span class="target heading-color">k</span>
                    <span class="target">+</span>
                  </h1>
                  <p>Students</p>
                </div>
              </div>
            </div>
          </div>
          <a href="campus-life.html" class="default-btn btn"
            >Start your application<i class="flaticon-next"></i
          ></a>
        </div>
      </div>
      <div
        class="col-lg-6"
        data-aos="fade-up"
        data-aos-easing="ease-in-sine"
        data-aos-duration="1300"
        data-aos-once="true"
      >
        <div class="campus-image pl-20">
          <img
            src="assets/images/campus-information/campus-1.jpg"
            alt="Image"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="courses-area ptb-100 bg-f4f6f9">
  <div class="container">
    <div class="section-title">
      <h2>Popular countries to Study Abroad</h2>
      <p>
        Recognized for its high-quality education system and welcoming environment.
      </p>
    </div>
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-once="true"
        *ngFor="let item of country"
      >
        <a routerLink="{{item.link}}">
          <div class="single-courses-card">
            <div class="courses-img">
              <a href="courses-details.html"
                ><img
                  src="/assets/images/country/{{ item.image }}"
                  style="height: 180px; width: 100%"
                  alt="Image"
              /></a>
            </div>
            <div class="courses-content">
              <div class="admin-profile text-center">
                <img src="/assets/images/flag/{{ item.flag }}" alt="russia" />
              </div>
              <a href="courses-details.html"
                ><h3 class="text-center">{{ item.title }}</h3></a
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    
  </div>
</div>

<div class="campus-life-area ptb-100">
  <div class="container">
    <div class="section-title">
      <h2>Popular Colleges</h2>
      <p>
        Every student selects a course that they believe will help shape their careers and build a solid future.
      </p>
    </div>
    <div class="row justify-content-center">
      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-once="true"
      >
        <div class="single-campus-card">
          <div class="img" style="text-align: center">
            <a href="campus-life.html"
              ><img
                src="assets/images/courses/medical.png"
                alt="Image"
                style="width: 150px; padding: 20px"
            /></a>
          </div>
          <div class="campus-content">
            <!-- <span>Medical</span> -->
            <a href="campus-life.html"><h3 class="text-center">Medical</h3></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="400"
        data-aos-once="true"
      >
        <div class="single-campus-card">
          <div class="img" style="text-align: center">
            <a href="campus-life.html"
              ><img
                src="assets/images/courses/worker.png"
                alt="Image"
                style="width: 150px; padding: 20px"
            /></a>
          </div>
          <div class="campus-content">
            <!-- <span>Engineering</span> -->
            <a href="campus-life.html"
              ><h3 class="text-center">Engineering</h3></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="600"
        data-aos-once="true"
      >
        <div class="single-campus-card">
          <div class="img" style="text-align: center">
            <a href="campus-life.html"
              ><img
                src="assets/images/courses/law.png"
                alt="Image"
                style="width: 150px; padding: 20px"
            /></a>
          </div>
          <div class="campus-content">
            <!-- <span>Student Life</span> -->
            <a href="campus-life.html"
              ><h3 class="text-center">Law</h3></a
            >
          </div>
        </div>
      </div>
      <div
        class="col-lg-3 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="600"
        data-aos-once="true"
      >
        <div class="single-campus-card">
          <div class="img" style="text-align: center">
            <a href="campus-life.html"
              ><img
                src="assets/images/courses/company.png"
                alt="Image"
                style="width: 150px; padding: 20px"
            /></a>
          </div>
          <div class="campus-content">
            <!-- <span>Student Life</span> -->
            <a href="campus-life.html"
              ><h3 class="text-center">Hotel Management</h3></a
            >
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="lates-news-area ptb-100 bg-f4f6f9">
  <div class="container">
    <div class="section-title">
      <h2>Latest Blogs</h2>
      <p>
        Stay in touch with the latest career news and learn how to land your dream career.
      </p>
    </div>
    <div class="row justify-content-center">
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="200"
        data-aos-once="true"
      >
        <div class="single-news-card">
          <div class="news-img">
            <a href="news-details.html"
              ><img src="assets/images/news/news-1.jpg" alt="Image"
            /></a>
          </div>
          <div class="news-content">
            <div class="list">
              <ul>
                <li>
                  <i class="flaticon-user"></i>By
                  <a href="news-details.html">Admin</a>
                </li>
                <li><i class="flaticon-tag"></i>Social Sciences</li>
              </ul>
            </div>
            <a href="news-details.html"
              ><h3>
                Professor Tom Comments On The Volunteer B. Snack Brand
              </h3></a
            >
            <a href="news-details.html" class="read-more-btn"
              >Read More<i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="400"
        data-aos-once="true"
      >
        <div class="single-news-card">
          <div class="news-img">
            <a href="news-details.html"
              ><img src="assets/images/news/news-2.jpg" alt="Image"
            /></a>
          </div>
          <div class="news-content">
            <div class="list">
              <ul>
                <li>
                  <i class="flaticon-user"></i>By
                  <a href="news-details.html">Admin</a>
                </li>
                <li><i class="flaticon-tag"></i>Social Sciences</li>
              </ul>
            </div>
            <a href="news-details.html"
              ><h3>
                How To Use Technology To Adapt Your Talent To The World
              </h3></a
            >
            <a href="news-details.html" class="read-more-btn"
              >Read More<i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-6"
        data-aos="fade-up"
        data-aos-duration="1200"
        data-aos-delay="600"
        data-aos-once="true"
      >
        <div class="single-news-card">
          <div class="news-img">
            <a href="news-details.html"
              ><img src="assets/images/news/news-3.jpg" alt="Image"
            /></a>
          </div>
          <div class="news-content">
            <div class="list">
              <ul>
                <li>
                  <i class="flaticon-user"></i>By
                  <a href="news-details.html">Admin</a>
                </li>
                <li><i class="flaticon-tag"></i>Social Sciences</li>
              </ul>
            </div>
            <a href="news-details.html"
              ><h3>
                Here Are The Things To Look For When Selecting An Online Course
              </h3></a
            >
            <a href="news-details.html" class="read-more-btn"
              >Read More<i class="flaticon-next"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="more-latest-news text-center">
      <p>
        Select From Hundreds of Options.<a
          href="latest-news.html"
          class="read-more-btn active"
        >
          More on News<i class="flaticon-next"></i
        ></a>
      </p>
    </div>
  </div>
</div>
